* {
    margin: 0px;
    padding: 0px;
}

#cube-container {
    height: 60vh;
    width: 100vw;
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    transform:  translate((-50%, -50%));
    perspective: 1000px;
}

.box {
    height: 250px;
    width: 250px;
    position: absolute;
    margin-top: 15vh;
    margin-left: calc(50% - 125px);
    transform-style: preserve-3d;
    animation:  animate 10s infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50% {
        transform: rotateX(45deg) rotateY(45deg);
    }
    75% {
        transform: rotateX(-45deg) rotateY(45deg);
    }
    100% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
}


.card {
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 100px 0px;
    color: white;
    background-color: black;
    border: 2px solid white;
    font-size: 32px;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s;
}

#front {
    transform: translateZ(125px);
}

#back {
    transform: translateZ(-125px);
}

#left {
    right: 125px;
    transform: rotateY(-90deg);
}

#right {
    left: 125px;
    transform: rotateY(90deg);
}

#top {
    bottom: 125px;
    transform: rotateX(90deg);
}

#bottom {
    top: 125px;
    transform: rotateX(-90deg);
}