* {
    margin: 0px;
    padding: 0px;
}

#cube-container {
    height: 60vh;
    width: 100vw;
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    transform:  translate((-50%, -50%));
    perspective: 1000px;
}

.box {
    height: 250px;
    width: 250px;
    position: absolute;
    margin-top: 15vh;
    margin-left: calc(50% - 125px);
    transform-style: preserve-3d;
    animation:  animate 5s infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
    25% {
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    50% {
        transform: rotateX(45deg) rotateY(45deg);
    }
    75% {
        transform: rotateX(-45deg) rotateY(45deg);
    }
    100% {
        transform: rotateX(45deg) rotateY(-45deg);
    }
}


.card {
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 100px 0px;
    color: white;
    background-color: black;
    border: 2px solid white;
    font-size: 32px;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s;
}

#front-no-animation {
    transform: translateZ(125px);
}
#front-pop-spin {
    transform: translateZ(180px) rotateY(360deg);
}
#front-pop-spin-big {
    transform: translateZ(360px) rotateY(360deg);
    animation: frontPopSpinBig;
    animation-duration: 2s;
}
@keyframes frontPopSpinBig {
    0% {
        transform: translateZ(180px) rotateY(360deg);
    }
    50% {
        transform: translateZ(360px) rotateY(360deg);
    }
    100% {
        transform: translateZ(360px) rotateY(360deg) rotateZ(360deg);
    }
}


#back-no-animation {
    transform: translateZ(-125px);
}
#back-pop-spin {
    transform: translateZ(-180px) rotateY(360deg);
}
#back-pop-spin-big {
    transform: translateZ(-360px) rotateY(360deg);
    animation: backPopSpinBig;
    animation-duration: 2s;
}
@keyframes backPopSpinBig {
    0% {
        transform: translateZ(-180px) rotateY(360deg);
    }

    50% {
        transform: translateZ(-360px) rotateY(360deg);
    }

    100% {
        transform: translateZ(-360px) rotateY(360deg) rotateZ(360deg);
    }
}



#left-no-animation {
    right: 125px;
    transform: rotateY(-90deg);
}
#left-pop-spin {
    right: 180px;
    transform: rotateY(-90deg) rotateX(360deg);
}
#left-pop-spin-big {
    right: 360px;
    transform: rotateY(-90deg) rotateX(360deg);
    animation: leftPopSpinBig;
    animation-duration: 2s;
}
@keyframes leftPopSpinBig {
    0% {
        right: 180px;
        transform: rotateY(-90deg) rotateX(360deg);
    }

    50% {
        right: 360px;
        transform: rotateY(-90deg) rotateX(360deg);
    }

    100% {
        right: 360px;
        transform: rotateY(-90deg) rotateX(360deg) rotateZ(360deg);
    }
}


#right-no-animation {
    left: 125px;
    transform: rotateY(90deg);
}
#right-pop-spin {
    left: 180px;
    transform: rotateY(90deg) rotateX(360deg);
}
#right-pop-spin-big {
    left: 360px;
    transform: rotateY(-90deg) rotateX(360deg);
    animation: rightPopSpinBig;
    animation-duration: 2s;
}
@keyframes rightPopSpinBig {
    0% {
        left: 180px;
        transform: rotateY(90deg) rotateX(360deg);
    }

    50% {
        left: 360px;
        transform: rotateY(90deg) rotateX(360deg);
    }

    100% {
        left: 360px;
        transform: rotateY(90deg) rotateX(360deg) rotateZ(360deg);
    }
}



#top-no-animation {
    bottom: 125px;
    transform: rotateX(90deg);
}
#top-pop-spin {
    bottom: 180px;
    transform: rotateX(90deg) rotateY(360deg);
}


#bottom-no-animation {
    top: 125px;
    transform: rotateX(-90deg);
}
#bottom-pop-spin {
    top: 180px;
    transform: rotateX(-90deg) rotateY(360deg);
}